{% extends 'collecte/base.html' %}
{% block content %}
<div class="section" style="max-width:500px;margin:2rem auto;text-align:center;">
    <h2><i class="bi bi-exclamation-triangle-fill text-danger"></i> Supprimer le signalement #{{ signalement.id }} ?</h2>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Confirmer</button>
        <a href="{% url 'dashboard' %}" class="btn btn-ghost">Annuler</a>
    </form>
</div>
{% endblock %}